{{!-- Home Page Style Sheet --}}
<link rel="stylesheet" href="css/styles.css" media="screen" title="no title">


<div id="scroll-animate">
  <div id="scroll-animate-main">
    <div class="wrapper-parallax">
      <header>

        <h1><a class="logo-budge">BUDGE</a><a class="logo-it"> IT!</a></h1>

      </header>

      <section class="content">

        <div class="home-container">

          <div>
            <h2 class="enter-text intro-text-home">Put in the date of your monthly bills and Budge It will calculate
              the optimal date to pay based on banking holidays and weekends. Nobody wants to worry about their bills
              on the weekends, so bills will only be paid on Monday through Thursday. Not all banks are created equal.
              Some banks honor certain holidays and some do not. This tool is meant as a failsafe to make sure your
              bills get paid on time regardless of the bank you have.
              <h2 class="enter-Button-Home">Enter</h2>
            </h2>
            <a class="enter-text" href="/expenses"><span class="div-link"></span></a>
          </div>
        </div>

      </section>


      <footer>
        <h3><a class="footer-phrase-1">Finance Wisely.</a></br><a class="footer-phrase-2"> Save Money.</a></h3>
      </footer>
    </div>
  </div>
</div>